.circle {
    width: 60px;
    height: 65px;
    border-radius: 50%;
    font-size: 22px;
    color: #fff;
    text-align: center;
    background: #000;
    padding-top: 5px;
}
/*div::first-line {
   font-size: 20px; 
}
div {
    font-size: 10px;
}*/
.textSize30{
    padding-top: 5px;
    font-size: 28px; 
}
.textSize10{
    font-size: 15px; 
    padding-top: 5px;
}
.backgroundcolor {
    background-color:#5E9DD0;
    color:white;
    font-family: Oswald, sans-serif;
    font-weight: 200;
    font-size: 16px;
}
.circlep {
    padding-left: 3px;
}